bs4

# Core Django
Django>=4.2,<5.0

# WSGI server
gunicorn

# PostgreSQL support
psycopg2-binary

python-dateutil

# Environment variable support
django-environ

requests

whitenoise

# tools
django-debug-toolbar
markdown

feedparser